<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body style="font-family:sans-serif;margin-left:2em;">
    <h1 style="font-family: 'Trebuchet MS', Helvetica, sans-serif;color: darkblue;margin-bottom: 0;">GradStories</h1>
    <h2 style="font-family: 'Trebuchet MS', Helvetica, sans-serif; margin-top: 0px;margin-bottom: 3.5em;font-size: 1em; color: darkblue;">Congratulations</h2>
    <h4>Ordered by ${args.signerName}</h4>
    <p style="margin-top:0em; margin-bottom:0em;">Email: ${args.signerEmail}</p>
    <p style="margin-top:0em; margin-bottom:0em;">Copy to: ${args.ccName}, ${args.ccEmail}</p>
    <p style="margin-top:3em;">
      This contract, dated on the ____ day of ______________ in the year 20____, is made between
      [company name] and [employee name] of [city, state]. This document constitutes an
      employment agreement between these two parties and is governed by the laws of [state or
      district].
      WHEREAS the Employer desires to retain the services of the Employee, and the Employee
      desires to render such services, these terms and conditions are set forth.
      IN CONSIDERATION of this mutual understanding, the parties agree to the following terms and
      conditions:
      1. Employment
      The Employee agrees that he or she will faithfully and to the best of their ability carry out the
      duties and responsibilities communicated to them by the Employer. The Employee shall comply
      with all company policies, rules and procedures at all times.
      2. Position
      As a [job title], it is the duty of the Employee to perform all essential job functions and duties.
      From time to time, the Employer may also add other duties within the reasonable scope of the
      Employee’s work.
      3. Compensation
      As compensation for the services provided, the Employee shall be paid a wage of
      $___________ [per hour/per annum] and will be subject to a(n) [quarterly/annual]
      performance review. All payments shall be subject to mandatory employment deductions
      (State & Federal Taxes, Social Security, Medicare).
      4. Benefits
      The Employee has the right to participate in any benefits plans offered by the Employer. The
      employer currently offers [list benefits, if any]. Access to these benefits will only be possible
      after the probationary period has passed.
      5. Probationary Period
      It is understood that the first [time frame] of employment constitutes a probationary period.
      During this time, the Employee is not eligible for paid time off or other benefits. During this
      time, the Employer also exercises the right to terminate employment at any time without
      advanced notice.
      6. Paid Time Off
      Following the probationary period, the Employee shall be eligible for the following paid time
      off:
      • [length of time for vacation]
      • [length of time for sick/personal days]
      • Bereavement leave may be granted if necessary.
      The employer reserves the right to modify any paid time off policies.
      7. Termination
      It is the intention of both parties to form a long and mutually profitable relationship. However,
      this relationship may be terminated by either party at any time provided [length of time]
      written notice is delivered to the other party.
      The Employee agrees to return any Employer property upon termination.
      8. Non-Competition and Confidentiality
      As an Employee, you will have access to confidential information that is the property of the
      Employer. You are not permitted to disclose this information outside of the Company.
      During your time of Employment with the Employer, you may not engage in any work for
      another Employer that is related to or in competition with the Company. You will fully disclose
      to your Employer any other Employment relationships that you have and you will be permitted
      to seek other employment provided that (a.) it does not detract from your ability to fulfill your
      duties, and (b.) you are not assisting another organization in competing with the employer.
      It is further acknowledged that upon termination of your employment, you will not solicit
      business from any of the Employer’s clients for a period of at least [time frame].
      9. Entirety
      This contract represents the entire agreement between the two parties and supersedes any
      previous written or oral agreement. This agreement may be modified at any time, provided the
      written consent of both the Employer and the Employee.
      10. Legal Authorization
      The Employee agree that he or she is fully authorized to work in [country name] and can
      provide proof of this with legal documentation. This documentation will be obtained by the
      Employer for legal records.
      11. Severability
      The parties agree that if any portion of this contract is found to be void or unenforceable, it
      shall be struck from the record and the remaining provisions will retain their full force and
      effect.
      12. Jurisdiction
      This contract shall be governed, interpreted, and construed in accordance with the laws of
      [state, province or territory].
      In witness and agreement whereof, the Employer has executed this contract with due
      process through the authorization of official company agents and with the consent of the
      Employee, given here in writing.</p>
    <!-- Note the anchor tag for the signature field is in white. -->
    <h3 style="margin-top:3em;">Graduate Signature : <span style="color:white;">**signature_1**</span></h3>
  </body>
</html>"